.header {
  width: 100%;
  padding: 20px;
  display: block;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 227, 255);
  position: sticky;
  top: 0;
  z-index: 10;
}

.form {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.input {
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  flex: 1;
}
